/*
 * MAIN SCSS
 */
/*
 * BASE INDEX
 */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*
 * COMPONENTS INDEX
 */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.main .main__bar-top {
  background-color: #0182d3;
  padding: 1.2rem 0rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.main .main__bar-top .main__search__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main__bar-top .main__search__bar .main__search {
  border: none;
  outline: none;
  color: #0182d3;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.main .main__bar-top .main__search__bar .main__search::-webkit-input-placeholder {
  opacity: 1;
  font-size: 1.1rem;
  font-weight: normal;
}

.main .main__bar-top .main__search__bar .main__search:-ms-input-placeholder {
  opacity: 1;
  font-size: 1.1rem;
  font-weight: normal;
}

.main .main__bar-top .main__search__bar .main__search::-ms-input-placeholder {
  opacity: 1;
  font-size: 1.1rem;
  font-weight: normal;
}

.main .main__bar-top .main__search__bar .main__search::placeholder {
  opacity: 1;
  font-size: 1.1rem;
  font-weight: normal;
}

.main .main__bar-top .main__search__bar .main__icon {
  color: #0182d3;
  cursor: pointer;
  background-color: white;
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
}

.main .main__bar-top .main__search__bar .main__icon:hover {
  color: #0a5a8b;
}

.main .main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.main .main__container .current__container {
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #0182d3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.main .main__container .current__container .current__location {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 3px solid white;
}

.main .main__container .current__container .current__temp {
  font-size: 4.5rem;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.main .main__container .current__container .current__date {
  font-size: 1.5rem;
}

.main .main__container .current__container .current__cloud,
.main .main__container .current__container .current__humidity,
.main .main__container .current__container .current__wind,
.main .main__container .current__container .current__pressure,
.main .main__container .current__container .current__sunrise,
.main .main__container .current__container .current__sundown {
  font-size: 1.15rem;
  padding-top: 0.6rem;
}

.main .main__bar-bottom {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0182d3;
  padding: 1.2rem 0rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  text-transform: uppercase;
}

.main .main__bar-bottom .main__icon {
  font-size: 2.5rem;
  color: white;
  padding-right: 0.5rem;
}

.main .main__bar-bottom .main__title {
  font-size: 2.5rem;
  color: white;
}

.hidden {
  visibility: hidden;
}
/*# sourceMappingURL=main.css.map */